#comments {
    background-color: #ffc4c4;
    margin-top: 1em;
    padding: 0.5em;
    max-width: 500px;
}

.comment {
    background-color: #c4e2ff;
    margin: 1em;
    padding: 0.5em;
}

.author {
    font-weight: bold;
    background-color: #c4ffe2;
    max-width: 100px;
}

.text {
    background-color: #ffe2c4;
}

.date {
    background-color: #ffc4ff;
    max-width: 100px;
}